header {
	height: 40px;
	width: 100%;
	display: inline-flex;
	align-items: center;
	font-family: arial,sans-serif;
	font-size: 13px;
	margin-top: 15px;
}

.home, .email, .slipwell, .headerLinkedin, .headerGithub {
	margin: 10px;
}

.headShot {
	border-radius: 50%;
	max-height: 200px;
}

footer {
	height: 40px;
	width: 100%;
	display: inline-flex;
	align-items: center;
	opacity: 75%;
	position: absolute;
	bottom: 0px;
	font-family: arial,sans-serif;
	font-size: 14px;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
		}

.copywrite, .footerLinkedin, .footerGithub {
	margin: 10px;
}

a:link {
	color: #000;
	text-decoration: none;
	cursor: default;
}

a:visited {
	color: #000;
	text-decoration: none;
	cursor: default;
}

a:hover {
	color: #000;
	text-decoration: underline;
	cursor: default;
}

a:active {
	color: #000;
	text-decoration: none;
	cursor: default;
}