@import "tailwindcss";

@theme {
  --color-border: #9ca3af;
  --color-border-dark: #242424;
  --color-button-bg: #f0f0f0;
  --color-button-bg-dark: #1a1a1a;
  --color-background-dark: #161616;
  --color-background: #f9fafb;
  --color-text: #111827;
  --color-text-dark: #f9fafb;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
