/*
=======================================
TABLE OF CONTENTS
=======================================

-links and buttons
-main
-footer
-typography and color

*/

/*
======================================
LINKS AND BUTTONS
======================================
*/

a, a:hover, a:active, a:focus {
  text-decoration: none;
}


/*
========================================
MAIN
========================================
*/

.limit-width {
  max-width: 720px;
}

.translucent-card {
  margin-top: 20px !important;
  padding: 20px;
  border-radius: 5px;
}


/* Bio and Headshot */
.round {
  border-radius: 50%;
}

.spread {
  line-height: 2rem;
}

.headshot {
  max-height: 150px;
}


/* Technologies and Traits */
.inline {
  display: inline;
}

.relative {
  position: relative;
}

.row {
  margin: 0;
}

.align-right {
  text-align: right;
}

.pad-right {
  padding-right: 20px;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.center-vertical {
  padding-top: 1rem;
}

.extend-right {
  width: 110%;
}

.techStyle {
  padding: 4px;
  margin: 2px;
  border-radius: 3px;
  line-height: 2em;
}

.epsilon-link, .epsilon-link:hover {
  display: inline-block;
  height: 2em;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  font-size: 1.5em;
  line-height: 1.5em;
}

.to-do-link, .to-do-link:hover {
  display: inline-block;
  height: 2em;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  font-size: 1.5em;
  line-height: 1.5em;
}

.acme-link, .acme-link:hover {
  display: inline-block;
  height: 2em;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  font-size: 1.5em;
  line-height: 1.5em;
}

.slipwell-link, .slipwell-link:hover {
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 2em;
}

/* Portfolio */
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.website-card, .website-card .card {
  display: inline-block;
}

.website-card {
  margin: 10px;
  height: auto;
}

.card-img-top {
  width: auto;
  overflow: hidden;
}

.mobileHeight {
  height: 360px;
}

.desktopHeight {
  height: 240px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}


::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/*
===============================================
Footer
===============================================
*/


/*
===============================================
TYPOGRAPHY
===============================================
*/

body {
  font-family: Roboto;
  font-weight: 700;
  color: #12232E;
}

h1, h3, h5 {
  font-family: Roboto;
  font-weight: 900;
}

body {
  background-color: white;
  height: 100vh;
  width: auto;
}

.bold {
  font-weight: 700;
}

.epsilon-blue {
  background-color: #e6e6e6;
  border: 1px solid #009a8f;
  color: #199d8e;
}

.slipwell-red {
  background-color: rgb(247, 247, 247);
  color: #F90000;
  border: 1px solid #303133;
}

.invert {
  color: white !important;
}