/*
=======================================
TABLE OF CONTENTS
=======================================

-links and buttons
-header
-main
-footer
-typography

*/

/*
======================================
LINKS AND BUTTONS
======================================
*/
.link:hover {
	cursor: pointer;
	text-decoration: underline;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/*
======================================
HEADER
======================================
*/

header {
	height: 40px;
	width: 100%;
	display: inline-flex;
	align-items: center;
	margin-top: 15px;
	background-color: rgba(0, 0, 0, 0);
}

.header {
	padding: 10px;
}

.accent1 {
	background-color: #eAE7DC;
	color: rgb(80, 80, 80);
	border: 1px solid #8E8D8A;
	/* Listens for any scaling that .accent1 does and controls the change. */
	transition: scale 100ms ease-in-out;
}

.accent1:hover {
	transition: [property] [duration] [ease] [delay];
	transform: scale(1.05);
	border: 1px solid #8E8D8A;
	text-decoration: none;
}

.trim-left-border {
	border-left: none;
}

.accent2 {
	color: #E85A4F;
	text-decoration: none;
}

.push-right {
	margin-left: auto;
}

.left-edge {
	margin-left: 20px;
}

.right-edge {
	margin-right: 20px;
}


/*
========================================
MAIN
========================================
*/

body {
	background-color: #eAE7DC;
}

main {
	width: 95vw;
	margin-left: auto;
	margin-top: 50px;
	margin-right: auto;
}

.flex {
	display: flex;
}

.first-div, .second-div, .third-div {
	margin-top: 10px;
	margin-bottom: 10px;
}


.first-div {
	width: 100%;
}

.first-text {
 margin-left: auto;
 margin-top: auto;
 margin-bottom: auto;
 margin-right: 10px;
}

.first-text h1{
	margin-bottom: 10px;
}

.social-icon {
	height: 1.5em;
	width: auto;
	margin: 10px;
	margin-top: 30px;
}

.first-image {
	margin-right: auto;
}

.headShot {
	border-radius: 50%;
	max-height: 200px;
	border: 3px solid #D8C3A5;
}


.second-div {
	justify-content: center;
}


.skill-list {
	width: 40%;
	text-align: center;
}

.skill-list>div {
	display: flex;
	justify-content: center;
}

.skill-list .left-side {
	text-align: right;
	margin: 5px;
}

.skill-list .right-side {
	text-align: left;
	margin: 5px;
}

.skill-list>div>div {
	width: 50%;
}

.align-right {
	text-align: right;
}


.third-div {
	margin-top: 50px;
	text-align: center;
}

.third-div h1 {
	margin-bottom: 20px;
}

.third-div a {
	width: 50%;
}

.page-preview {
	display: block;
	width: 50%;
	height: auto;
	margin:10px auto;
	border-radius: 2px;
	border: 3px solid #D8C3A5;
}

/* for screens larger than mobile */
@media (min-width: 800px) {
	main {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

.fourth-div {
	display: flex;
}

.job-tile {
	width: 200px;
	border: 1px solid grey;
	border-radius: 4px;
	box-shadow: 1px 1px 4px black;
	margin: 10px;
}

/*
========================================
FOOTER
========================================
*/

footer {
	height: 40px;
	width: 100%;
	display: inline-flex;
	align-items: center;
	bottom: 0px;
}

.footer {
	padding: 10px;
}

.accent3 {
	color: rgb(80, 80, 80);
	cursor: default;
}

/*
===============================================
TYPOGRAPHY
===============================================
*/

body {
	font-family: Lato;
	font-weight: 700;
	color: rgb(80, 80, 80);
}

h1 {
	font-size: 24px;
}

p {
	font-family: Montserrat;
	font-weight: 500;
}