/*!*************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./assets/scss/index.scss ***!
  \*************************************************************************************************************************************************************************/
@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* Include <link href="link to this file" rel="stylesheet" type="text/css" media="all"/> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-weight: bold;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  background-image: url("images/full-bloom.png");
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 4vh;
}

a, a:hover, a:active, a:focus {
  cursor: pointer;
  text-decoration: none;
}

button {
  background-color: #FFFFFF;
  border: 2px solid grey;
  border-radius: 1vh;
  height: 6vh;
  width: 50%;
}

button:hover, button:active {
  cursor: pointer;
  background-color: grey;
  color: white;
}

main {
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  height: 92vh;
  width: 100%;
  max-width: 60vh;
  margin: 0 auto;
  padding: 2vh;
  border-radius: 5px;
}

.heading-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 4vh;
  height: 20vh;
}
.heading-wrapper h1 {
  font-size: 4vh;
  margin-bottom: 2vh;
}
.heading-wrapper p {
  font-size: 2vh;
}

.website-wrapper {
  height: 50vh;
  text-align: center;
  overflow: hidden;
}
.website-wrapper h2 {
  font-size: 3vh;
  margin-bottom: 1vh;
}
.website-wrapper .slider {
  width: 96%;
  margin: 0 auto;
  position: relative;
  height: 30vh;
  border-radius: 5px;
  box-shadow: 1px 5px 5px 1px grey;
  background-color: white;
}
.website-wrapper .slick-arrow {
  background-color: white;
  color: black;
  position: absolute;
  z-index: 10;
}
.website-wrapper .slick-next {
  right: 10px;
}
.website-wrapper .slick-next::before {
  content: ">";
}
.website-wrapper .slick-prev {
  left: 10px;
}
.website-wrapper .slick-prev::before {
  content: "<";
}
.website-wrapper .slick-next::before, .website-wrapper .slick-prev::before {
  color: black;
  height: 10px;
  width: 10px;
  z-index: 11;
  border-radius: 50%;
}
.website-wrapper .slick-list,
.website-wrapper .slick-track,
.website-wrapper .slick-slide,
.website-wrapper .slick-slide > div,
.website-wrapper .website-wrapper {
  height: 100%;
  overflow: hidden;
}
.website-wrapper .mobile-preview, .website-wrapper .desktop-preview {
  width: 100%;
  height: auto;
}
.website-wrapper .slick-slide {
  position: relative;
  width: 100%;
}
.website-wrapper .details-pane {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 5vh;
  top: 25vh;
  left: 0;
  box-shadow: 1px 1px 7px 1px black;
}
.website-wrapper .slick-dots li button:before {
  font-size: 24px !important;
}

.contact-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contact-wrapper .social-icon {
  height: 6vh;
  width: auto;
  border-radius: 50%;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
